<div class="container-fluid h-100 loginBackground">
    <div class="row h-100 loginBackgroundShadow">
        <div class="col-4 loginCredentialsHolder">
            <div class="row h-100 align-items-center">
                <mat-form-field>
                        <mat-label>{{ current }}</mat-label>    
                            <mat-select [value]="currentLang" class="lang" #langSelect (selectionChange)="switchLanguage(langSelect.value);">
                                <mat-option 
                                    *ngFor="let lang of langs"
                                    [value]="lang">
                                    {{ lang }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                <div class="col-11">
                    <div class="welcomeTextsHolder">
                        <p class="helloText">{{ 'auth.login.hello-text' | translate }}</p>
                        <p class="welcomeBackText">
                            {{ 'auth.login.welcome' | translate }}
                        </p>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <input
                            type="text"
                            formControlName="username"
                            placeholder="{{ 'auth.username' | translate }}"
                        />
                        <input
                            type="password"
                            formControlName="password"
                            placeholder="{{ 'auth.password' | translate }}"
                        />
                        <div class="row justify-content-between"></div>
                        <div
                            class="row justify-content-between buttonsContainer"
                        >
                            <div class="col-6">
                                <button
                                    [disabled]="loading"
                                    type="submit"
                                    class="loginButton"
                                >
                                    {{ 'auth.login_' | translate }}
                                </button>
                            </div>
                            <div class="col-6">
                                <button
                                    routerLink="/registration"
                                    class="signUpButton"
                                    (click)="onSignUpClick()"
                                >
                                {{ 'auth.signup' | translate }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <div class="col-8">
            <div class="row h-100 align-items-center">
                <div class="col-12 taglineApp">
                    <p>{{ 'auth.login.login-text' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
