.header-container {
    padding: 0.5rem;
    height: 4rem;
    width: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 5%;
}