<div class="container-fluid h-100 loginBackground">
        <div class="row h-100 loginBackgroundShadow">
            <div class="col-4 loginCredentialsHolder">
                <div class="row h-100 align-items-center">
                    <div class="col-11">
                        <div class="welcomeTextsHolder">
                            <p class="helloText">Just schedule it!</p>
                            <p class="welcomeBackText">Please, fill the form to proceed.</p>
                        </div>
                        <form action="">
                            <input type="full_name" placeholder="Full Name">
                            <input type="email" placeholder="Email address">
                            <input type="password" placeholder="Password">
                            
                            <div class="row justify-content-between buttonsContainer">
                                <div class="col-6">
                                    <button class="signUpButton">Sign up</button>
                                </div>
                                <div class="col-6">
                                    <button class="loginButton">Login</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row h-100 align-items-center">
                    <div class="col-12 taglineApp">
                        <p>Register to schedule your studying process</p>
                    </div>
                </div>         
            </div>
        </div>
</div>
