@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
table {
    width: 100%;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    th {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 300;
    }
}

.example-container {
    height: calc(100vh - 30rem);
    overflow: auto;
}

.table-header-svg {
    display: inline-block;
    height: 1rem;
    width: 1rem;
}