<div class="container-fluid h-100 loginBackground">
        <div class="row h-100 loginBackgroundShadow">
            <div class="col-4 loginCredentialsHolder">
                <div class="row h-100 align-items-center">
                    <div class="col-11">
                        <div class="welcomeTextsHolder">
                            <p class="helloText">Hey, dude!</p>
                            <p class="welcomeBackText">Welcome back! Please login to your account.</p>
                        </div>
                        <form action="">
                            <input type="email" placeholder="Email address">
                            <input type="password" placeholder="Password">
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    <label class="rememberChBoxLabel">
                                        <input type="checkbox"> 
                                        Remember me
                                    </label>
                                </div>
                                <div class="col-6 forgotPassword">
                                    <p><a href="#">Forgot you password?</a></p>
                                </div>
                            </div>
                            <div class="row justify-content-between buttonsContainer">
                                <div class="col-6">
                                    <button class="loginButton">Login</button>
                                </div>
                                <div class="col-6">
                                    <button class="signUpButton">Sign up</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row h-100 align-items-center">
                    <div class="col-12 taglineApp">
                        <p>Login to schedule your studying process</p>
                    </div>
                </div>         
            </div>
        </div>
</div>
