<div class="container">
    <div class="upper-container">
        <div class="upper-container__content-block"></div>
    </div>

    <div class="bottom-container">
        <div class="bottom-container__content-block">

            <div class="scheduler-table__container">
                <app-schedule-table></app-schedule-table>

            </div>

            <div class="scheduler-table__container">
                <app-homework-table></app-homework-table>


            </div>
            <app-button class="add-button_right">+</app-button>
            <app-button class="add-button_left">+</app-button>

        </div>
    </div>
</div>