<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <p>{{ 'shared.modal.add-homework' | translate }}</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.title" />
    </mat-form-field>
    <p>{{ 'shared.modal.homework' | translate }}</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.homework" />
    </mat-form-field>
    <p>{{ 'shared.modal.deadline' | translate }}</p>
    <mat-form-field>
        <input matInput type="date" [(ngModel)]="data.deadline" />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">{{ 'shared.modal.cancel-text' | translate }}</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
        {{ 'shared.modal.submit-text' | translate }}
    </button>
</div>
